USE [master]
GO
/****** Object:  Database [Loja]    Script Date: 11/10/2023 06:50:07 ******/
CREATE DATABASE [Loja]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Loja', FILENAME = N'D:\Programas\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Loja.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Loja_log', FILENAME = N'D:\Programas\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Loja_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Loja].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Loja]
GO
USE [Loja]
GO
/****** Object:  Sequence [dbo].[identificadores]    Script Date: 11/10/2023 06:50:08 ******/
CREATE SEQUENCE [dbo].[identificadores] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
USE [Loja]
GO
/****** Object:  Sequence [dbo].[MinhaSequencia]    Script Date: 11/10/2023 06:50:08 ******/
CREATE SEQUENCE [dbo].[MinhaSequencia] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[movimento]    Script Date: 11/10/2023 06:50:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movimento](
	[idMovimento] [int] NOT NULL,
	[quantidade] [int] NOT NULL,
	[tipo] [char](1) NOT NULL,
	[valorUnitario] [numeric](18, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pessoa]    Script Date: 11/10/2023 06:50:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pessoa](
	[idPessoa] [int] NOT NULL,
	[nome] [varchar](255) NOT NULL,
	[logradouro] [varchar](255) NOT NULL,
	[cidade] [varchar](255) NOT NULL,
	[estado] [char](2) NOT NULL,
	[telefone] [varchar](11) NULL,
	[email] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pessoa_fisica]    Script Date: 11/10/2023 06:50:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pessoa_fisica](
	[idPessoasFisicas] [int] NOT NULL,
	[CPF] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pessoa_juridica]    Script Date: 11/10/2023 06:50:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pessoa_juridica](
	[idPessoasJuridicas] [int] NOT NULL,
	[CNPJ] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[produtos]    Script Date: 11/10/2023 06:50:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produtos](
	[idProduto] [int] NOT NULL,
	[nome] [varchar](255) NOT NULL,
	[quantidade] [int] NOT NULL,
	[precoVenda] [numeric](18, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 11/10/2023 06:50:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[idUsuario] [int] NOT NULL,
	[nomeUsuario] [varchar](255) NOT NULL,
	[senhaUsuario] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
